{
  "extends": "google",

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },

  "env": {
    "browser": 1,
    "jasmine": 1
  },
  "rules": {
    "semi": 2
  }
}
